doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js")
    script(src="/javascripts/eventHandlers.js")

